@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  h2{
   font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
 }

 h3.home{
  margin-top: 0px;
  padding: 10px;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 20px;
  background-color: black;
  color:#eb4e23;
  text-decoration:bold;
}
.select_post{
 button{
  color: #ff7a00;
  padding: 0;
  border: none;
  background: none;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "Graphik Black","Arial Black",Sans-Serif;
}
text-transform:uppercase;
a {
 color: #ff7a00;
 :hover{
   text-decoration: underline;
 }
}
margin-bottom:20px;
font-size:20px;
font-family: "Graphik Black","Arial Black",Sans-Serif;
height:43px;
.previous{
  float: left;
  width: 33%;
}

.home{
  float: left;
  width: 33%;
  text-align:center;
}
.next{
  text-align: right;
  float: right;
  width: 33%;
}

}

.top_corner{
  float:right;  
}

.header {
  overflow: hidden;
  width:100%;
  background: url("../images/background4.jpg");
  background-repeat:no-repeat;
  height:100%;
  background-size: 100%;
  margin:0%;
  a {
    text-decoration: none;
    color: white;
  }
}
.header .page-title {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  text-shadow: 0 1px 18px #666;
  font-weight: normal;
  font-size: 68px;
  text-align: center;
  padding: 140px;
  color:white;
  margin: 0px;
  height: 335px;
  p{
    font-size:22px;
    line-height: 38px;
  }

}
.navigator {
 font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
 background: #000;
 text-align: center;
}
.navigator li {
  display: inline-block;
}
.navigator a {
  display: inline-block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  font-size:24px;
}
.navigator a:hover {
  background-color: #eb4e23;
  color:white;
  text-decoration:none;
}
.main-content {

  margin: 50px auto;
  max-width: 810px;
}

.main-content h1, h2.ng-binding {
 font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
 color: black;
 margin-bottom: 50px;
}
.main-content p {
  font-family: Arial,Sans-Serif;
  text-align: justify;
  font-size: 15px;

}
.options{
  margin-bottom: 20px;
}
ul.dropdown-menu{
  position:relative;
  float:none;
}
button.btn.btn-primary.dropdown-toggle{
  margin-bottom:20px;
}
.footer {
  padding-top: 78px;
  background-color:black;
  height:300px;
  color:white;

}

.social{
  img{
    width: 50px;
    margin-right: 10px;
  }
}
}