
<div class="container text-center">
  <p><b>Follow us on social media</b></p><br/>
  <div class="social"><a href="http://www.something.com"><img src="/images/if_linkedin_2308061.png"/></a><a href="http://www.something.com"><img src="/images/if_wordpress_2308140.png"/></a><a href="http://www.something.com"> <img src="/images/if_twitter_2308045.png"/></a><a href="http://www.something.com"><img src="/images/if_youtube2_2308040.png"/></a><br/><br/><br/><b>&copy;AfiDesign 2017 - All right reserved</b></div>
</div>