doctype html
html(ng-app="BlogApp")
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
    script(src="https://code.angularjs.org/1.2.20/angular-route.js")
    script(src="https://code.angularjs.org/1.2.13/angular-cookies.js")
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js')
    script(src="app.js")
    title ACN Blog
    body
    .header
     h1.page-title
      | <a href="/">ACCENTURE CFC BLOG</a>
      p
       | <a href="/">Blogging about recent news and events in the cyber-space</a>

    ul.navigator
      li: a(href='/') Home
      li: a(href='/post') Post
      li: a(href='#About') Calendar
      li: a(href='#Contact') Contact
    
    .main-content
      block content
      //div(class="ng-view")
    script(src="blogcontroller.js")
    script(src="modules/authentication/services.js")
    script(src="modules/authentication/controllers.js")
    script(src="modules/post/controllers.js")

    .footer
      include footer
      