extend default

block content
   div(ng-controller="BlogController")
     div(class="select_post").
      <div class="previous">
      <button ng-click="count = count - 1;nextPost()" ng-init="count-2" ng-disabled="count < 0"> &lt; Previous </button>
      </div>
      <div class="home">
      <a ng-href="./">Home</a>
      </div>
      <div class="next">
      <button ng-click="nextPost();count = count + 1" ng-init="count=1">Next &gt;</button>
      </div>
  
     <div class="top_corner">
     <h3 class="home" ng-bind="category"></h3>
     </div>
     <p ng-bind-html="time"></p>
     <h2 ng-bind="title"></h2>
     <p ng-bind-html="trustedbody"> 
 
     </p>   

 </div>.
   
