<div ng-controller="BlogController">
        <h1>Post to Blog</h1>
        
        <input ng-model="post.title" class="form-control" placeholder="Insert Title Here"/>
        <br>
        <br>
        <textarea ng-model="post.body" class="form-control" rows="30" cols="20" placeholder="Insert Content Here"></textarea>
        <br>
        <div class="options">                                      
        <ul class="nav nav-pills left">
        <li class="dropdown active span8">
        <a  class="dropdown-toggle" id="inp_impact" data-toggle="dropdown">
        <span id="dropdown_title">Select Category</span><span class="caret"></span></a>
        <ul ID="divNewNotifications" class="dropdown-menu">
        <li><a>APPSEC</a></li>
        <li><a>CYBER DEFENSE</a></li>
        <li><a>IAM</a></li>
        <li><a>MSS</a></li>
        <input ng-model="post.category" type="text" id="hiddenfield" value="this will change"></p>
        </div>
        <button ng-click="createPost(post)" class="btn btn-primary btn-block ">Add Blog</button>  
        
        <script>
        $(function(){
        
        $('.dropdown-toggle').dropdown();
        $('#divNewNotifications li').on('click', function() {
        $('#dropdown_title').html($(this).find('a').html());
        var category = $(this).text();
        console.log(category);
        $("#hiddenfield").val(category).trigger('change');
        
        
        
        });
        }); 
        $(function(){
        $('.btn').click(function(){
        window.location.href='/';
        });
        });
        </script>